@{
    ViewBag.Title = "Admin Home";
}

<div class="container row">
    <div class="col-lg-3">
        @Html.Partial("_AdminPartial")
    </div>
    <div class="col-lg-9">
        <div class="jumbotron">
            <h1>Admin Panel</h1>
            <p class="lead">Welcome to the Admin Panel.</p>
        </div>
    </div>
</div>

