
<div class="list-group">
    @Html.ActionLink("Products", "Index", "Products", new { }, new { @class = "list-group-item" })
    @Html.ActionLink("Categories", "Index", "Categories", new { }, new { @class = "list-group-item" })
    <a href="#" class="list-group-item">Users</a>
    @Html.ActionLink("Roles", "Index", "Role", new { }, new { @class = "list-group-item" })
    <a href="#" class="list-group-item">Orders</a>
</div>
